angular_frontend/dist/
angular_frontend/node_modules/
angular_frontend/.vscode
angular_frontend/.editorconfig
angular_frontend/.angular
python_backend/__pycache__/
python_backend/.env
python_backend/.venv
