<div class="sidebar-container">
  <!-- Navigation -->
  <div>
    <button routerLink="/">Chat Interface</button>
    <button routerLink="/storage-manager">Storage Manager</button>
  </div>

  <!-- Titles for page -->
  <h1 *ngIf="currentRoute === '/'">RAG Chatbot</h1>
  <h1 *ngIf="currentRoute === '/storage-manager'">Storage Manager</h1>

  <!-- Chat interface sidebar -->
  <div *ngIf="currentRoute === '/'">
    <app-chat-sidebar></app-chat-sidebar>
  </div>

  <!-- Storage manager sidebar -->
  <div *ngIf="currentRoute === '/storage-manager'">
    <app-storage-sidebar></app-storage-sidebar>
  </div>
</div>