<div class="sidebar-container">
  <!-- Navigation -->
  <div class="nav-container">
    <button routerLink="/"  routerLinkActive="active-button" [routerLinkActiveOptions]="{ exact: true }">Chat</button>
    <button routerLink="/storage-manager" routerLinkActive="active-button">Storage Manager</button>
  </div>

  <!-- Chat interface sidebar -->
  <div *ngIf="currentRoute === '/'">
    <app-chat-sidebar></app-chat-sidebar>
  </div>

  <!-- Storage manager sidebar -->
  <div *ngIf="currentRoute === '/storage-manager'">
    <app-storage-sidebar></app-storage-sidebar>
  </div>
</div>