.sidebar-container {
    height: 100%;
    overflow-y: auto;
    padding: 10px 20px;
    padding-right: 0px;
    background-color: #d0d0d0;
    margin: 0px;
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

.nav-container {
    text-align: center;
}

.sidebar-container button {
    margin-right: 10px;
    font-size: 15px;
    padding: 10px 20px;
}

.sidebar-container button.active-button {
    background-color: #0861c1; 
    color: white;
    border-color: #033469;
}