/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    overflow: hidden; /* Prevent unnecessary scrolling */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #f5f5f5; /* Set your desired app background color */
    margin: 0;
    padding: 0;
    letter-spacing: 0.25px;
    word-spacing: 1.1px;
}

button {
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-color: #cbe7ff;
    transition: background-color 0.2s ease;
    padding: 10px 10px;
}

button:hover {
    background-color: #afafaf;
}