<div class="top">
    <h1>Parameters</h1>
    <button class="reset-button" (click)="resetToDefault()">Reset</button>
</div>

<label for="index-name">Index name</label>
<div class="text-container">
    <input class="index-name" type="text" [(ngModel)]="chatParameters.search.indexName" (input)="onIndexNameChange()" />
    <div class="error-message" *ngIf="!chatParameters.search.indexNameValid">Index doesn't exist!</div>
</div>

<!-- MODEL PARAMETERS -->
<label for="system-message">System message</label>
<div class="text-container">
    <textarea id="system-message" type="text" rows="3" [(ngModel)]="chatParameters.model.systemMessage" ></textarea><br>
</div>

<label for="past-messages">Past messages to include</label>
<div class="slider-container">
    <input type="range" id="past-messages" min="1" max="20" step="1" [(ngModel)]="chatParameters.model.pastMessagesIncluded">
    <input type="number" min="1" max="20" step="1" [(ngModel)]="chatParameters.model.pastMessagesIncluded">
</div>

<label for="max-response">Maximum response tokens</label>
<div class="slider-container">
    <input type="range" id="max-response" min="1" max="16000" step="1" [(ngModel)]="chatParameters.model.maxResponse">
    <input type="number" min="1" max="16000" step="1" [(ngModel)]="chatParameters.model.maxResponse">
</div>

<label for="temperature">Temperature</label>
<div class="slider-container">
    <input type="range" id="temperature" min="0.0" max="2.0" step="0.1" [(ngModel)]="chatParameters.model.temperature">
    <input type="number" min="0.0" max="2.0" step="0.1" [(ngModel)]="chatParameters.model.temperature">
</div>

<label for="top-p">Top P</label>
<div class="slider-container">
    <input type="range" id="top-p" min="0.0" max="1.0" step="0.1" [(ngModel)]="chatParameters.model.topP">
    <input type="number" min="0.0" max="1.0" step="0.1" [(ngModel)]="chatParameters.model.topP">
</div>

<label for="stop-phrase">Stop phrase</label>
<div class="text-container">
    <input type="text" id="stop-phrase" [(ngModel)]="chatParameters.model.stopPhrase"  /><br>
</div>

<label for="frequency-penalty">Frequency penalty</label>
<div class="slider-container">
    <input type="range" id="frequency-penalty" min="-2.0" max="2.0" step="0.1" [(ngModel)]="chatParameters.model.frequencyPenalty" >
    <input type="number" id="frequency-penalty" min="-2.0" max="2.0" step="0.1" [(ngModel)]="chatParameters.model.frequencyPenalty" >
</div>

<label for="presence-penalty">Presence penalty</label>
<div class="slider-container">
    <input type="range" id="presence-penalty" min="-2.0" max="2.0" step="0.1" [(ngModel)]="chatParameters.model.presencePenalty" >
    <input type="number" id="presence-penalty" min="-2.0" max="2.0" step="0.1" [(ngModel)]="chatParameters.model.presencePenalty" >
</div>

<!-- SEARCH PARAMETERS -->
<div class="checkbox-container">
    <label for="scope">Limit responses to data content</label>
    <input type="checkbox" id="scope" [(ngModel)]="chatParameters.search.limitScope" />
</div>

<label for="past-messages">Strictness</label>
<div class="slider-container">
    <input type="range" min="1" max="5" step="1" [(ngModel)]="chatParameters.search.strictness" >
    <input type="number" min="1" max="5" step="1" [(ngModel)]="chatParameters.search.strictness" >
</div>

<label for="past-messages">Number of retrieved documents</label>
<div class="slider-container">
    <input type="range" min="3" max="20" step="1" [(ngModel)]="chatParameters.search.topNDocuments" >
    <input type="number" min="3" max="20" step="1" [(ngModel)]="chatParameters.search.topNDocuments" >
</div>